<div style="display: block; width: 100%">
  <div class="settings-header">Wallet Connection</div>
  <div>
    <div class="settings-account-item">
      <div class="settings-account-item-left">
        <div class="settings-account-item-info">
          <div class="settings-security-2fa-step">
            <span class="step-icon step1-icon"></span>
            <div class="google-auth-container-step-content">
              <div class="step-text">Click the “Connect new wallet” button</div>
              <div class="step-desc">
                <div>Once clicked, a special form will open for connection</div>
              </div>
            </div>
          </div>
          <div class="settings-security-2fa-step">
            <span class="step-icon step2-icon"></span>
            <div class="google-auth-container-step-content">
              <div class="step-text">Enter the seed phrase in the appropriate fields</div>
              <div class="step-desc">
                <div>You can find it in the settings of the wallet you are using</div>
              </div>
            </div>
          </div>
          <div class="settings-security-2fa-step">
            <span class="step-icon step3-icon"></span>
            <div class="google-auth-container-step-content">
              <div class="step-text">Click the “Submit” button</div>
              <div class="step-desc">
                <div>
                  Your wallet will be sent for connection, the status will be displayed in the table
                  below
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-account-item">
      <div class="settings-account-item-left" style="">
        <button
          id="connect-new-wallet-btn"
          type="button"
          class="settings-promocode-btn main__default-btn main-menu__menu-controls_top-up v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default"
          style="min-width: 200px"
        >
          <span class="v-btn__content">Connect new wallet</span>
        </button>
      </div>
    </div>
    <div class="settings-header">Connected Wallets</div>

    <div class="custom-table-wrapper" style="margin-bottom: 100px">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Phrase</th>
            <th>Status</th>
            <th>Created</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5">
              <div style="min-width: 800px; margin: -16px; padding: 16px">
                <div
                  style="
                    padding-top: 32px;
                    padding-bottom: 32px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <img src="assets/app/img/empty-list.svg" alt="empty" />
                  <div
                    style="text-align: center; color: #81858c; margin-top: 16px; font-size: 12px"
                  >
                    No Records
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
