// .tradingview-widget-container {
//   width: 100%;
//   height: 100px; // default is ~46px
//   overflow: hidden;
// }

// .tradingview-widget-container iframe {
//   transform: scale(1.3); // zoom in
//   transform-origin: 0 0; // scale from top-left
//   height: 100px !important;
// }
