:host {
  display: flex;
  flex-direction: column;
  height: 100% !important;
  width: 100% !important;
}

.v-application--wrap {
  background-color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  // Make the router-outlet content grow to push footer to bottom
  router-outlet ~ * {
    flex: 1 0 auto;
  }

  app-footer {
    margin-top: auto;
  }
}
