// html,
// body {
//   width: 100% !important;
//   height: 100% !important;
// }

// .admin {
//   width: 100%;
//   height: 100%;
//   &__left {
//     height: 100%;
//     width: 400px;
//     // background-color: red;
//   }
// }
