<div class="history-table">
  <div class="history-table__title">History - Deposits</div>

  <div class="history-table__table profile-table">
    <div class="v-data-table profile-coins-table theme--light">
      <div class="v-data-table__wrapper">
        <table>
          <thead class="v-data-table-header">
            <tr>
              <th class="text-start"><span>TXID</span></th>
              <th class="text-start"><span>Created</span></th>
              <th class="text-start"><span>Address</span></th>
              <th class="text-start"><span>Amount</span></th>
              <th class="text-start"><span>Commission</span></th>
              <th class="text-start"><span>Type</span></th>
              <th class="text-start"><span>Status</span></th>
            </tr>
          </thead>
          <tbody>
            @for (deposit of deposits; track deposit.txid) {
            <tr>
              <td>{{ deposit.txid }}</td>
              <td>{{ deposit.date | date : 'short' }}</td>
              <td>{{ deposit.address }}</td>
              <td>{{ deposit.amount | number : '1.2-8' }} {{ deposit.currency }}</td>
              <td>{{ deposit.commission | number : '1.2-8' }} {{ deposit.currency }}</td>
              <td>{{ deposit.type }}</td>
              <td>
                <span
                  class="transaction-status"
                  [ngClass]="{
                    'completed': deposit.status === 'completed',
                    'in_processing': deposit.status === 'in_processing',
                    'canceled': deposit.status === 'canceled'
                  }"
                >
                  {{ deposit.status.replace('_', ' ') | titlecase }}
                </span>
              </td>
            </tr>
            } @empty {
            <tr id="empty-tr">
              <td colspan="7">
                <div style="min-width: 800px; margin: -16px; padding: 16px">
                  <div
                    style="
                      padding-top: 32px;
                      padding-bottom: 32px;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                    "
                  >
                    <img src="assets/img/empty-list.svg" alt="empty" />
                    <div
                      style="
                        text-align: center;
                        color: #81858c;
                        margin-top: 16px;
                        font-size: 12px;
                      "
                    >
                      No Records
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  .transaction-status {
    padding: 5px 8px;
    border-radius: 5px;
    width: max-content;
    display: flex;
    text-transform: capitalize;
  }

  .transaction-status.completed {
    color: #54ab68;
    background-color: rgba(84, 171, 104, 0.1);
  }

  .transaction-status.in_processing {
    color: #ffa417;
    background-color: rgb(235 190 10 / 10%);
  }

  .transaction-status.canceled {
    color: #eb0a33;
    background-color: rgba(235, 10, 51, 0.06);
  }
</style>
