<div class="content-wrapper">
  <div class="header">
    <h1>Edit Client</h1>
  </div>

  <form class="edit-client-form" [formGroup]="clientForm" (ngSubmit)="onFormSubmit()">
    <div class="form-grid">
      <div class="form-group">
        <label for="name">First Name</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input
            matInput
            formControlName="firstName"
            type="text"
            id="name"
            placeholder="First Name"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="lastName">LastName</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input
            matInput
            formControlName="lastName"
            type="text"
            id="lastName"
            placeholder="LastName"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input
            matInput
            formControlName="email"
            type="email"
            id="email"
            placeholder="Client Email"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input matInput formControlName="phone" type="number" id="phone" placeholder="Phone" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="google_2fa_secret">Google 2FA Secret</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input
            matInput
            formControlName="google_2fa_secret"
            type="text"
            id="google_2fa_secret"
            placeholder="Google 2FA Secret"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="client_ip">IP</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input matInput formControlName="client_ip" type="text" id="client_ip" placeholder="IP" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="affiliation">Affilation</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input matInput type="number" id="affiliation" placeholder="Affiliation" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="balance">Overall Balance</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <input
            matInput
            formControlName="overall_balance"
            type="number"
            id="balance"
            placeholder="Overall Balance"
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <mat-select formControlName="gender" id="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="verification_level">Verification Status</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <mat-select formControlName="verification_level" id="verification_status">
            <mat-option value="level1">Level 1</mat-option>
            <mat-option value="level2">Level 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <mat-select formControlName="country" id="country">
            <mat-option value="usa">USA</mat-option>
            <mat-option value="uk">UK</mat-option>
            <mat-option value="canada">Canada</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="worker">Worker</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <mat-select formControlName="workerId" id="worker">
            @for(worker of workers; track worker._id) {
            <mat-option [value]="worker._id">
              {{ worker.firstName + ' ' + worker.lastName }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="affiliation">Affiliation</label>
        <mat-form-field appearance="fill" class="mat-form-field-dark">
          <mat-select formControlName="affiliation" id="affiliation">
            <mat-option value="aff1">Affiliation 1</mat-option>
            <mat-option value="aff2">Affiliation 2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group form-check">
        <input formControlName="is_vip" type="checkbox" id="is_vip" class="form-check-input" />
        <label for="is_vip" class="form-check-label">Is VIP?</label>
      </div>

      <div class="form-group form-check">
        <input
          formControlName="is_banned"
          type="checkbox"
          id="is_banned"
          class="form-check-input"
        />
        <label for="is_banned" class="form-check-label">Is Banned ?</label>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="btn-secondary" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn-primary">Save Changes</button>
    </div>
  </form>
</div>
