<footer class="footer">
  <div class="footer-container">
    <div class="footer-section socials">
      <div class="footer-socials">
        <div class="footer-socials__top">
          <img src="assets/app/img/logo.svg" />
          <div class="footer-socials__logo">Platform</div>
        </div>
        <div class="footer-socials__wrapper"></div>
      </div>
    </div>
    <div class="footer-section company">
      <div class="footer-title__wrapper">
        <h3>Trading</h3>
        <div class="v-expansion-panel-header__icon">
          <i aria-hidden="true" class="v-icon notranslate mdi mdi-chevron-down theme--light"></i>
        </div>
      </div>
      <ul>
        <li><a href="markets.html">Markets</a></li>
        <li><a href="swap.html">Swap</a></li>
        <li><a [routerLink]="['/signin']">Spot</a></li>
        <li><a href="#" onclick="verificationPopup(event)">Margin</a></li>
        <li><a href="#" onclick="verificationPopup(event)">Futures</a></li>
        <li><a href="tournament.html">Tournament</a></li>
        <li><a href="#" onclick="errorPopup('P2P', null, event)">P2P</a></li>
        <li><a href="signin.html?action=deposit">Buy Crypto</a></li>
      </ul>
    </div>
    <div class="footer-section support">
      <div class="footer-title__wrapper">
        <h3>Support</h3>
        <div class="v-expansion-panel-header__icon">
          <i aria-hidden="true" class="v-icon notranslate mdi mdi-chevron-down theme--light"></i>
        </div>
      </div>
      <ul>
        <li><a href="about-us.html">About Us</a></li>

        <li><a href="channel-verification.html">Verify Official Channels</a></li>
        <li><a href="fees.html">Fees</a></li>
        <li><a href="bug-bounty.html">Bug Bounty</a></li>
        <li><a href="corporate-identity.html">Corporate Identity</a></li>
        <li><a href="institutional-services.html">Institutional Services</a></li>
      </ul>
    </div>
    <div class="footer-section services">
      <div class="footer-title__wrapper">
        <h3>Products</h3>
        <div class="v-expansion-panel-header__icon">
          <i aria-hidden="true" class="v-icon notranslate mdi mdi-chevron-down theme--light"></i>
        </div>
      </div>
      <ul>
        <li><a href="earn.html">Staking</a></li>
        <li><a href="earn.html">Crypto Lending</a></li>
        <li><a [routerLink]="['/signin']">Referral Program</a></li>
        <li><a href="token-listing.html">Token Listing</a></li>
      </ul>
    </div>
    <div class="footer-section product">
      <div class="footer-title__wrapper">
        <h3>Legal &amp; Disclosures</h3>
        <div class="v-expansion-panel-header__icon">
          <i aria-hidden="true" class="v-icon notranslate mdi mdi-chevron-down theme--light"></i>
        </div>
      </div>
      <ul>
        <li><a href="user-agreement.html">User Agreement</a></li>
        <li><a href="aml-policy.html">AML Policy</a></li>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
        <li><a href="cookies-policy.html">Cookies Policy</a></li>
        <li><a href="risk.html">Risk Disclosure Statement</a></li>
        <li><a href="treatment.html">Special Treatment</a></li>
        <li><a href="regulatory.html">Regulatory License</a></li>
        <li><a href="law.html">Law Enforcement Requests</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2025 Platform | All rights reserved</p>
  </div>
</footer>

<!-- <div
  id="mobile-app-banner"
  role="dialog"
  aria-modal="true"
  class="v-dialog__content v-dialog__content--active"
  style="z-index: 202; display: none"
>
  <div
    tabindex="0"
    class="v-dialog dialog v-dialog--active"
    style="transform-origin: center center; width: 450px"
  >

    <div class="app-modal-wrapper">
      <form slot="body" class="app-modal-wrapper__form-body">
        <div class="app-modal-wrapper__body">
          <img
            src="assets/img/untitled-app-modal.png"
            alt="mobile-app-modal-icon"
            class="app-modal__background-icon"
          />
          <h1 class="app-modal__title">Mobile App Platform</h1>
          <h2 class="app-modal__instruction__title">Install our mobile app</h2>
          <div class="app-modal__instruction__body">
            <ul>
              <li>
                <svg
                  id="three-dots"
                  viewBox="0 0 24 24"
                  height="24px"
                  width="24px"
                  xmlns="http://www.w3.org/2000/svg"
                  class="app-modal__instruction__icon"
                >
                  <g
                    xmlns="http://www.w3.org/2000/svg"
                    id="_20x20_three-dots--grey"
                    data-name="20x20/three-dots--grey"
                    transform="translate(24) rotate(90)"
                  >
                    <rect id="Rectangle" width="24" height="24" fill="none"></rect>
                    <circle
                      id="Oval"
                      cx="1"
                      cy="1"
                      r="1"
                      transform="translate(5 11)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="0.5"
                    ></circle>
                    <circle
                      id="Oval-2"
                      data-name="Oval"
                      cx="1"
                      cy="1"
                      r="1"
                      transform="translate(11 11)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="0.5"
                    ></circle>
                    <circle
                      id="Oval-3"
                      data-name="Oval"
                      cx="1"
                      cy="1"
                      r="1"
                      transform="translate(17 11)"
                      stroke="#000"
                      stroke-miterlimit="10"
                      stroke-width="0.5"
                    ></circle>
                  </g>
                </svg>
                <span>Select the &quot;Settings&quot; button from the browser menu</span>
              </li>
              <li>
                <svg
                  viewBox="0 0 44.83 58.87"
                  xmlns="http://www.w3.org/2000/svg"
                  class="app-modal__instruction__icon"
                >
                  <title xmlns="http://www.w3.org/2000/svg">Ресурс 1</title>
                  <g xmlns="http://www.w3.org/2000/svg" id="Слой_2" data-name="Слой 2">
                    <g id="Слой_1-2" data-name="Слой 1">
                      <path
                        d="M12.75,13.79H7.92V4.87S7.83.12,14.67,0,40,0,40,0s4.83,0,4.83,7.75-.12,47.92-.12,47.92,0,3-4.87,3.13-27.33,0-27.33,0S8,59.45,7.92,52.75s0-6.87,0-6.87l4.67,0V48.7a1.48,1.48,0,0,0,1.38.92H35.88l2.79,0s1.63.08,1.63-.75,0-37,0-37a1.48,1.48,0,0,0-1.69-1.48c-1.72,0-24-.09-24-.09a1.57,1.57,0,0,0-.87,1.34v2Z"
                      ></path>
                      <polygon
                        points="6.08 19.54 22.92 19.54 22.92 37.87 19 37.87 19.08 27.29 3.5 42.7 0 39.12 16.25 23.95 5.92 23.62 6.08 19.54"
                      ></polygon>
                    </g>
                  </g>
                </svg>
                <span>Select &quot;Install Application&quot;</span>
              </li>
            </ul>
            <div class="app-modal__description-body">
              Once you add the app, its icon will appear on your home screen and you will be able to
              use all Platform tools faster and more conveniently from your device.
            </div>
          </div>
          <button
            id="mobile-app-close"
            type="button"
            class="banner__btn v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--default"
          >
            <span class="v-btn__content">Thanks</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
