<!-- Transactions -->
<div id="transactions" class="content-wrapper">
  <div class="tabs">
    <div class="">
      <a
        class="tab-button"
        [routerLink]="['/admin/transactions/deposits']"
        routerLinkActive="active"
      >
        Deposits
      </a>
    </div>

    <div class="">
      <a
        class="tab-button"
        [routerLink]="['/admin/transactions/transfers']"
        routerLinkActive="active"
      >
        Transfers
      </a>
    </div>
    <div class="">
      <a
        class="tab-button"
        [routerLink]="['/admin/transactions/withdrawals']"
        routerLinkActive="active"
      >
        Withdrawals
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
