.text-green {
  color: #00c186 !important;
}

.text-red {
  color: red !important;
}

.start-screen__email-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 25px;
}

.index__email-input {
  width: 100%;
  max-width: 300px;
  height: 50px !important;
}

@media (max-width: 768px) {
  #lottie {
    display: none;
  }

  .start-screen__email-wrapper {
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 30px;
  }

  .index__email-input {
    width: 100%;
    max-width: 100%;
    height: 50px !important;
  }
}

.MarketPrice_rateUp__Kb_gY {
  color: #00bf9c;
}

.MarketPrice_rateDown__jegxM {
  color: #f75151;
}

.MarketPrice_rateEqual__eda09 {
  color: #373c46;
}

.MarketPrice_marketPrice__Abps4 {
  min-height: 120px;
}

.MarketPrice_market__F8vWF {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .MarketPrice_market__F8vWF {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12px;
    column-gap: 12px;
    grid-row-gap: 12px;
    row-gap: 12px;
  }
}

@media screen and (max-width: 420px) {
  .MarketPrice_market__F8vWF {
    grid-template-columns: repeat(1, 1fr);
  }
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ {
  width: 288px;
  height: 120px;
  position: relative;
  background: #f5f5f5;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ {
    width: 100%;
    height: 100px;
    background: #fafbfd;
    margin-right: 0;
    border-radius: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 420px) {
  .MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ {
    width: 100%;
    height: 100px;
    background: #fafbfd;
    border-radius: 5px;
    overflow: hidden;
  }
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_:hover {
  cursor: pointer;
  opacity: 0.8;
  border-radius: 4px;
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxCoin__PgK3e {
  position: absolute;
  top: 24px;
  left: 16px;
}

@media screen and (max-width: 767px) {
  .MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxCoin__PgK3e {
    top: 20px;
  }
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxCoin__PgK3e span {
  font-size: 16px;
  font-weight: 500;
  color: #464646;
  vertical-align: -2px;
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxCoin__PgK3e i {
  margin-left: 7px;
  border-radius: 2px;
  border: 1px solid #e6aa1e;
  font-size: 12px;
  color: #e6aa1e;
  padding: 0 4px;
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxPrice__ZZ7ep {
  font-size: 20px;
  font-weight: 400;
  color: #030d12;
  position: absolute;
  top: 59px;
  left: 16px;
}

@media screen and (max-width: 767px) {
  .MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxPrice__ZZ7ep {
    top: 52px;
  }
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxRate__ifWpi {
  font-size: 16px;
  position: absolute;
  top: 24px;
  right: 16px;
}

.MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxLine__Nb0JT {
  max-width: 90px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 55px;
  right: 16px;
}

@media (max-width: 768px) {
  .MarketPrice_market__F8vWF .MarketPrice_marketBox__dR3X_ .MarketPrice_boxLine__Nb0JT {
    max-width: 60px;
  }
}

@keyframes MarketPrice_skeleton-loading__mykg9 {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.MarketPrice_market__F8vWF .MarketPrice_marketLoader__T3wiv .MarketPrice_marketLoaderItem__dqWQX {
  transition: all 0.5s ease-out;
  background-image: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  animation: MarketPrice_skeleton-loading__mykg9 1.4s ease infinite;
}

.js-embed-widget-body span {
  display: none;
}

.js-embed-widget-body > span {
  display: none;
}
