.up {
  color: #038303;
  background-color: #0382031a;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  border-radius: 0.25rem;
  padding: 4px 8px;
}

.down {
  color: #dc2828;
  background-color: rgba(220, 40, 40, 0.1019607843);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  border-radius: 0.25rem;
  padding: 4px 8px;
}
