<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-fluid">
    <form
      id="kt_ecommerce_add_product_form"
      class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework"
      data-kt-redirect="#"
    >
      <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
        <div class="tab-content">
          <div
            class="tab-pane fade active show"
            id="kt_ecommerce_add_product_advanced"
            role="tab-panel"
          >
            <div class="d-flex flex-column gap-7 gap-lg-10">
              <div class="card card-flush py-4">
                <div class="card-header">
                  <div class="card-title">
                    <span class="d-inline-block position-relative">
                      <span class="fs-3 fw-bold m-0 mb-1">Promo Codes</span>
                      <span
                        class="d-inline-block position-absolute h-4px bottom-0 end-0 start-0 bg-warning translate rounded"
                      ></span>
                    </span>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <div class="mb-10 fv-row fv-plugins-icon-container">
                    <label class="required form-label">Promo Code Name</label>
                    <div class="d-flex fs-7">
                      <input
                        id="index_promocode"
                        type="text"
                        name="sku"
                        class="form-control mb-2"
                        placeholder="**PROMO-CODE**"
                        value=""
                      />
                      <a
                        id="promoRandomGenerate"
                        class="btn btn-light mb-2"
                        style="margin-left: 15px"
                        >Random</a
                      >
                    </div>
                    <div class="text-muted fs-7">
                      Promo Code, activating which the user will receive the specified bonus
                    </div>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <div class="mb-10 fv-row">
                    <label class="required form-label">Coin</label>
                    <select
                      class="form-select mb-2"
                      data-control="select2"
                      data-hide-search="true"
                      data-placeholder="Select an option"
                      id="index_promo_wallet"
                    >
                      <option value="BTC" data-select2-id="select2-data-2-idk4">Bitcoin</option>

                      <option value="ETH">Ethereum</option>

                      <option value="USDT">Tether</option>

                      <option value="BNB">BNB</option>

                      <option value="SOL">Solana</option>

                      <option value="USDC">USD Coin</option>

                      <option value="XRP">Ripple</option>

                      <option value="DOGE">Dogecoin</option>

                      <option value="TON">Toncoin</option>

                      <option value="TRX">TRON</option>

                      <option value="ADA">Cardano</option>

                      <option value="AVAX">Avalanche</option>

                      <option value="WBTC">Wrapped Bitcoin</option>

                      <option value="SHIB">SHIBA INU</option>

                      <option value="BCH">Bitcoin Cash</option>

                      <option value="LINK">ChainLink</option>

                      <option value="DOT">Polkadot</option>

                      <option value="DAI">Dai</option>

                      <option value="LTC">Litecoin</option>

                      <option value="NEAR">NEAR Protocol</option>

                      <option value="UNI">Uniswap</option>

                      <option value="ICP">Internet Computer</option>

                      <option value="FET">Artificial Superintelligence Alliance</option>

                      <option value="PEPE">Pepe</option>

                      <option value="WBETH">Wrapped Beacon ETH</option>

                      <option value="APT">Aptos</option>

                      <option value="XLM">Stellar Lumens</option>

                      <option value="ETC">Ethereum Classic</option>

                      <option value="FDUSD">First Digital USD</option>

                      <option value="SUI">Sui</option>

                      <option value="STX">Stacks</option>

                      <option value="FIL">Filecoin</option>

                      <option value="AAVE">Aave</option>

                      <option value="RENDER">Render</option>

                      <option value="TAO">Bittensor</option>

                      <option value="IMX">ImmutableX</option>

                      <option value="HBAR">Hedera Hashgraph</option>

                      <option value="OP">Optimism</option>

                      <option value="ARB">Arbitrum</option>

                      <option value="VET">VeChain</option>

                      <option value="INJ">Injective</option>

                      <option value="WIF">Dogwifhat</option>

                      <option value="ATOM">Cosmos</option>

                      <option value="MKR">Maker</option>

                      <option value="FTM">Fantom</option>

                      <option value="GRT">The Graph</option>

                      <option value="AR">Arweave</option>

                      <option value="RUNE">THORChain</option>

                      <option value="FLOKI">FLOKI</option>

                      <option value="BONK">Bonk</option>

                      <option value="THETA">Theta Token</option>

                      <option value="ALGO">Algorand</option>

                      <option value="PYTH">Pyth Network</option>

                      <option value="JASMY">JasmyCoin</option>

                      <option value="JUP">Jupiter</option>

                      <option value="SEI">Sei</option>

                      <option value="LDO">Lido DAO</option>

                      <option value="QNT">Quant</option>

                      <option value="TIA">Celestia</option>

                      <option value="BTTC">BitTorrent</option>

                      <option value="OM">MANTRA</option>

                      <option value="NOT">Notcoin</option>

                      <option value="FLOW">Flow</option>

                      <option value="EOS">EOS</option>

                      <option value="STRK">Starknet Token</option>

                      <option value="EGLD">MultiversX</option>

                      <option value="AXS">Axie Infinity</option>

                      <option value="NEO">NEO</option>

                      <option value="1000SATS">1000*SATS (Ordinals)</option>

                      <option value="BEAMX">Beam (Formerly Merit Circle)</option>

                      <option value="GALA">Gala</option>

                      <option value="XTZ">Tezos</option>

                      <option value="XEC">eCash</option>

                      <option value="CFX">Conflux Network</option>

                      <option value="WLD">Worldcoin</option>

                      <option value="ORDI">ORDI</option>

                      <option value="SAND">The Sandbox</option>

                      <option value="BNX">BinaryX</option>

                      <option value="DOGS">Dogs</option>

                      <option value="ENS">Ethereum Name Service</option>

                      <option value="NEXO">Nexo</option>

                      <option value="W">Wormhole</option>

                      <option value="RONIN">Ronin</option>

                      <option value="APE">ApeCoin</option>

                      <option value="MANA">Decentraland</option>

                      <option value="KLAY">Kaia</option>

                      <option value="TUSD">TrueUSD</option>

                      <option value="ZEC">Zcash</option>

                      <option value="MINA">Mina</option>

                      <option value="PENDLE">Pendle</option>

                      <option value="CHZ">Chiliz</option>

                      <option value="PAXG">PAX Gold</option>

                      <option value="LUNC">Terra Classic</option>

                      <option value="CAKE">PancakeSwap</option>

                      <option value="BOME">BOOK OF MEME</option>

                      <option value="SNX">Synthetix Network Token</option>

                      <option value="DEXE">DeXe</option>

                      <option value="ENA">Ethena</option>

                      <option value="IOTA">MIOTA</option>

                      <option value="FTT">FTX Token</option>

                      <option value="LPT">Livepeer</option>

                      <option value="ZK">zkSync</option>

                      <option value="RAY">Raydium</option>

                      <option value="CKB">CKB</option>

                      <option value="ASTR">Astar</option>

                      <option value="AXL">Axelar</option>

                      <option value="GNO">Gnosis</option>

                      <option value="ROSE">Oasis Network</option>

                      <option value="ZRO">LayerZero</option>

                      <option value="TFUEL">Theta Fuel</option>

                      <option value="SFP">SafePal</option>

                      <option value="COMP">Compound</option>

                      <option value="SUPER">SuperVerse</option>

                      <option value="TWT">Trust Wallet Token</option>

                      <option value="BLUR">Blur</option>

                      <option value="CRV">Curve</option>

                      <option value="KAVA">Kava</option>

                      <option value="GMT">Green Metaverse Token</option>

                      <option value="1INCH">1inch</option>

                      <option value="IOTX">IoTeX</option>

                      <option value="PEOPLE">ConstitutionDAO</option>

                      <option value="KSM">Kusama</option>

                      <option value="AMP">AMP</option>

                      <option value="AEVO">AEVO</option>

                      <option value="RSR">Reserve Rights</option>

                      <option value="DASH">Dash</option>

                      <option value="JST">JUST</option>

                      <option value="DYM">Dymension</option>

                      <option value="HOT">Holo</option>

                      <option value="WOO">WOO Network</option>

                      <option value="GLM">Golem</option>

                      <option value="OSMO">Osmosis</option>

                      <option value="ELF">aelf</option>

                      <option value="SUN">SUN</option>

                      <option value="MANTA">Manta</option>

                      <option value="LUNA">Terra</option>

                      <option value="JTO">JITO</option>

                      <option value="ENJ">Enjin Coin</option>

                      <option value="ZIL">Zilliqa</option>

                      <option value="BAT">Basic Attention Token</option>

                      <option value="G">Gravity</option>

                      <option value="MEME">Memecoin</option>

                      <option value="RVN">Ravencoin</option>

                      <option value="SC">Siacoin</option>

                      <option value="CELO">Celo</option>

                      <option value="ZRX">0x</option>

                      <option value="RPL">Rocket Pool</option>

                      <option value="ANKR">Ankr</option>

                      <option value="QTUM">Qtum</option>

                      <option value="ARKM">Arkham</option>
                    </select>
                    <div class="text-muted fs-7">Select Coin to Promo Code</div>
                  </div>
                  <div class="mb-10 fv-row fv-plugins-icon-container">
                    <label class="required form-label">Promo Bonus Amount</label>
                    <div class="d-flex gap-3">
                      <input
                        id="index_promo_amount"
                        type="number"
                        name="shelf"
                        class="form-control mb-2"
                        placeholder="0.01"
                        value=""
                      />
                      <input
                        style="display: none"
                        id="index_promo_random_amount"
                        type="number"
                        name="warehouse"
                        class="form-control mb-2"
                        placeholder="0.01"
                      />
                      <input
                        style="display: none"
                        id="index_promo_random_amount_2"
                        type="number"
                        name="warehouse"
                        class="form-control mb-2"
                        placeholder="0.5"
                      />
                    </div>
                    <div class="text-muted fs-7">
                      <div class="form-check form-check-custom form-check-solid mb-2">
                        <input
                          class="form-check-input cursor-pointer"
                          type="checkbox"
                          value=""
                          id="promo_random"
                          onclick="checkedRandom()"
                        />
                        <label class="form-check-label"
                          >Random bonus amount. You can select a random bonus amount by specifying
                          the desired range</label
                        >
                      </div>
                    </div>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <div class="mb-10 fv-row fv-plugins-icon-container">
                    <label class="form-label">First deposit bonus (%)</label>
                    <div class="d-flex gap-3">
                      <input
                        id="index_promo_bonus"
                        type="number"
                        name="shelf"
                        class="form-control mb-2"
                        placeholder="50"
                        value=""
                      />
                    </div>
                    <div class="text-muted fs-7">
                      Not required. Percentage of bonus to the user&#39;s first deposit (in percent)
                    </div>
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <div class="fv-row">
                    <label class="form-label"
                      >The text that will appear to the user after activating the promo code</label
                    >
                    <div class="d-flex gap-3">
                      <input
                        id="index_promo_text"
                        type="text"
                        name="shelf"
                        class="form-control mb-8"
                        placeholder=""
                        value="Congratulations! You have activated the promo code"
                      />
                    </div>
                  </div>
                  <button
                    type="submit"
                    onclick="addPromo(event)"
                    class="btn btn-primary gradbuttonsp"
                  >
                    <span class="indicator-label">Create Promo</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="card mb-5 mb-xl-8 mt-10">
      <div class="card-header border-0 pt-5">
        <div class="card-title">
          <div class="d-flex align-items-center position-relative my-1">
            <form action="/admin/promocodes" method="get" style="display: inline-flex">
              <input
                name="name"
                type="text"
                value=""
                class="form-control form-control-solid"
                placeholder="NEWYEAR"
              />
              <button class="ms-2 btn btn-light btn-sm px-4">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    opacity="0.5"
                    x="17.0365"
                    y="15.1223"
                    width="8.15546"
                    height="2"
                    rx="1"
                    transform="rotate(45 17.0365 15.1223)"
                    fill="currentColor"
                  ></rect>
                  <path
                    d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body py-3">
        <div class="table-responsive">
          <table class="table align-middle gs-0 gy-4 table-row-dashed table-hover">
            <thead>
              <tr class="fw-bold text-muted">
                <th aria-sort="ascending" class="min-w-50px">ID</th>
                <th class="min-w-100px">Worker</th>
                <th class="min-w-100px">Name</th>
                <th class="min-w-50px">Activations</th>
                <th class="min-w-100px">Bonus amount</th>
                <th class="min-w-50px">First deposit Bonus</th>
                <th class="min-w-200px">Activation text</th>
                <th class="min-w-150px">Date of creation</th>
                <th class="min-w-150px">Promo Link</th>
                <th class="min-w-100px">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr id="promo_2" class="even">
                <td>2</td>
                <td>
                  <a
                    href="/cdn-cgi/l/email-protection"
                    class="__cf_email__"
                    data-cfemail="15627a677e706755706d74786579703b767a78"
                    >[email&#160;protected]</a
                  >
                </td>
                <td>1M6RYEEI</td>
                <td>1</td>
                <td>1.0 / BTC</td>
                <td>1.0%</td>
                <td>Congratulations! You have activated the promo code</td>
                <td>2025/09/30 18:30:30</td>
                <td>
                  <div class="badge badge-light-success">
                    https://platform.for-presentation.com/signup?promo=1M6RYEEI
                  </div>
                </td>
                <td>
                  <span onclick="deletePromo(2)" class="btn btn-xs btn-danger delete-worker"
                    >Delete</span
                  >
                </td>
              </tr>

              <tr id="promo_1" class="even">
                <td>1</td>
                <td>-</td>
                <td>AZ797OGE2Z</td>
                <td>0</td>
                <td>1.0 / BTC</td>
                <td>1.0%</td>
                <td>Congratulations! You have activated the promo code</td>
                <td>2025/09/30 11:59:49</td>
                <td>
                  <div class="badge badge-light-success">
                    https://platform.for-presentation.com/signup?promo=AZ797OGE2Z
                  </div>
                </td>
                <td>
                  <span onclick="deletePromo(1)" class="btn btn-xs btn-danger delete-worker"
                    >Delete</span
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <p style="font-size: 12px; color: #a3a4bd; font-weight: 400">You are in page 1 of 1</p>
          <span
            style="
              position: absolute;
              right: 0%;
              margin-top: -39px;
              height: 49px;
              padding-top: 13px;
            "
          >
            <a
              href="/admin/promocodes?page=1"
              style="
                border: 1px solid #a3a4b6;
                padding: 5px;
                color: #a3a4b6;
                border-radius: 5px;
                margin-right: 5px;
              "
              >FIRST</a
            >
            <a
              href="/admin/promocodes?page=1"
              style="
                border: 1px solid #a3a4b6;
                padding: 5px;
                color: #a3a4b6;
                border-radius: 5px;
                margin-right: 5px;
              "
              >PREVIOUS</a
            >
            <a
              href="/admin/promocodes?page=1"
              style="
                border: 1px solid #a3a4b6;
                padding: 5px;
                color: #a3a4b6;
                border-radius: 5px;
                margin-right: 5px;
              "
              >NEXT</a
            >
            <a
              href="/admin/promocodes?page=1"
              style="
                border: 1px solid #a3a4b6;
                padding: 5px;
                color: #a3a4b6;
                border-radius: 5px;
                margin-right: 5px;
              "
              >LAST</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
