<div id="clients" class="content-wrapper">
  <div class="header">
    <h1>Clients</h1>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Search clients..." />

    <div class="header-actions">
      <button class="btn-secondary">Filter</button>
      <button (click)="openDialog(true)" class="btn-primary">Add Client</button>
    </div>
  </div>

  <div class="table-container">
    <div class="table-header">
      <div class="table-header-cell">Name</div>
      <div class="table-header-cell">Email</div>
      <div class="table-header-cell">Balance</div>
      <div class="table-header-cell">Status</div>
      <div class="table-header-cell">Joined</div>
      <div class="table-header-cell">Action</div>
    </div>

    <div class="table-body">
      @if (clientsList.length > 0) { @for (client of clientsList; track client._id) {
      <div class="table-row">
        <div class="table-cell">{{ client.firstName + ' ' + client.lastName }}</div>
        <div class="table-cell">{{ client.email }}</div>
        <div class="table-cell">{{ '$ ' + client.overall_balance }}</div>
        <div class="table-cell">
          <span class="badge success">Active</span>
        </div>
        <div class="table-cell">123131</div>
        <div class="table-cell flex">
          <button class="btn-secondary" (click)="openDialog(false, client)">Edit</button>

          <button class="btn-secondary">Change Password</button>

          <button class="btn-secondary">Open Orders</button>
        </div>
      </div>
      } @empty {
      <h1>No users found</h1>
      } } @else {
      <div class="no-data">
        <app-loading></app-loading>
      </div>
      }
    </div>
  </div>
</div>
